{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "cc_body": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "cc_body",
      "b": "cc_body",
      "r": "Ignore"
    }
  ],
  "__guid": "4e767189-a77a-439f-8037-4d06e1f8957f",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}