{
  "Version": 2,
  "Mixers": {
    "Guid": "80e0fbe7-059c-498c-b6ac-722c1ac43f6d",
    "Name": "Master",
    "Volume": 0.040522877,
    "Mute": false,
    "Solo": false,
    "Spatializing": 1,
    "MaxVoices": 64,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "Reverb": 1,
    "AirAbsorption": 1,
    "OverrideOcclusion": false,
    "OcclusionTags": null,
    "BlockingTags": null,
    "IgnoredTags": null,
    "Processors": [],
    "Children": [
      {
        "Guid": "1d3fe363-c1d8-4cca-a2c6-17df126d2e5d",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "1c371c53-6f9c-4a62-b152-f25666938709",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "Reverb": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "2f5d5ca9-8c39-4645-ab50-ba56a28b7b9d",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 0,
        "MaxVoices": 64,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "Reverb": 0,
        "AirAbsorption": 0,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "cab1b603-d341-4858-9822-c87d74c21933",
        "Name": "Voice",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spatializing": 1,
        "MaxVoices": 64,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "Reverb": 1,
        "AirAbsorption": 1,
        "OverrideOcclusion": false,
        "OcclusionTags": null,
        "BlockingTags": null,
        "IgnoredTags": null,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "6d1935cf-4d44-4f01-a019-e3d6583b5616",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}